<div class="container">
  <h1><%= @task.title %></h1>
  <div class="list-group">
    <p class="list-group-item">details: <strong><%= @task.details %></strong></p>
    <p class="list-group-item">completed: <strong><%= @task.completed %></strong></p>
  </div>
  <div>
    <%= link_to "Back to list", root_path, class: "btn btn-primary" %>
    <%= link_to "Edit this task", edit_task_path(@task), class: "btn btn-primary" %>
  </div>
</div>
